@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Kanit:ital@1&family=Open+Sans:wght@600&display=swap');

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    align-self: center;
    margin-left: 210px;
    position: static;
    border-bottom: 1px solid black;
}

main {
    max-width: 1000px;
    width: 100%;
}

#content-container {
    font-family: 'EB Garamond', serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    line-height: 1.5; /* добавлено свойство line-height */
}

.h1Garant {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.ulGarant {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 16px;
}
