<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/kursov.css">
    <link rel="stylesheet" href="/css/garant.css">
    
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    
    <title>Document</title>
</head>

<body>
    <header>
        <!-- Бургер кнопка -->
        <button class="burger-button" onclick="toggleNav()">☰</button>

        <nav class="nav">
            <ul class="navLi">
                <li class="li li1"><a href="kursov" target="_self"><img src="/css/pictures/img2/logo.png"></a></li>
                <li class="li li2"><a href="menu" target="_self">Наши товары</a></li>
                <li class="li li2"><a href="cart" target="_self">Корзина</a></li>
                <li class="li li5"><a href = "registration_page">Зарегистрироваться</a></li>
                <li class="li li5"><a href = "login">Войти</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="content-container">
            <h1 class="h1Garant">Гарантии и обслуживания</h1>

            <p>Наша компания гарантирует владельцам проведение бесплатного обслуживания и ремонта в случае обнаружения недостатков, вызванных нарушением технологии изготовления или дефектами материалов продукции.</p>

            <p>Гарантийное обслуживание товаров начинается в момент передачи товара покупателю уполномоченным представителем компании.</p>

            <h2 class="h1Garant">Виды гарантий на продукцию:</h2>
            <ul class="ulGarant">
                <li>На корма и лакомства: 1 год или до истечения срока годности.</li>
                <li>На аксессуары и игрушки: 6 месяцев с момента покупки.</li>
                <li>На товары для ухода за животными: 2 года или в течение срока службы.</li>
            </ul>

            <p>Наши официальные представители обеспечат бесплатное устранение обнаруженных покупателем недостатков при условии, что товар подпадает под гарантийное обслуживание, а условия использования товара соответствуют рекомендациям производителя. Полный перечень условий гарантийного обслуживания доступен у наших представителей.</p>

            <p>В период действия гарантии все вопросы технического обслуживания и ремонта товаров следует решать только у официальных представителей компании, обратившись в наши магазины или сервисные центры.</p>

            <p>Мы настоятельно рекомендуем не доверять обслуживание вашего товара некомпетентным специалистам и продолжить его техническое обслуживание у наших официальных представителей.</p>

            <p>Для качественного и полноценного обслуживания наши представители оснащены необходимым оборудованием и инструментами. Наши сотрудники готовы помочь вам в любых вопросах и обеспечить качественное обслуживание вашего товара.</p>

            <p>Не забывайте, что правильное обслуживание и уход за вашими питомцами является залогом их здоровья и долгой жизни. Для поддержания их в хорошей форме и уверенности в качестве предоставляемых услуг, рекомендуем следовать рекомендациям наших специалистов и использовать продукцию в соответствии с инструкциями производителя.</p>
        </div>
    </body>
        
        



    <footer class="footer">
      <div class="containner">
       <div class="row">
         <div class="footer-col">
           <h4>О нас</h4>
           <ul>
             <li><a href="#id1">Хиты продаж</a></li>
             <li><a href="#id2">Производители кормов</a></li>
             <li><a href="#id3">Наши преимущества</a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>Услуги</h4>
           <ul>
             <li><a href="CarsFilt.html">Наши товары</a></li>
             <li><a href="profitableOffer.html">Предложение</a></li>
             <li><a href="garant.html">Гарантия</a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>Контактная информация</h4>
           <ul>
             <li><a href="#none"><p>Телефон: <strong>+7 977 111-0133</strong></p></a></li>
             <li><a href="#"><strong><a href="mailto:info@example.com">ZooImperiya@gmail.com</a></strong></a></li>
           </ul>
         </div>
         <div class="footer-col">
           <h4>Социальные сети</h4>
           <div class="social-links">
             <a href="https://ru-ru.facebook.com/BMW/" target="_blank"><i class="fab fa-facebook-f"></i></a>
             <a href="https://www.twitter.com/elonmusk"><i class="fab fa-twitter"></i></a>
             <a href="https://www.instagram.com/stifazno"><i class="fab fa-instagram"></i></a>
           </div>
         </div>
       </div>
      </div>

      <div id="name">
          Мамадрахимзода М.О - ИКБО-30-22
      </div>


   </footer>






    </main>
    <script src="kursov.js"></script> 
</body>
</html>