<div th:fragment="footer">
    <footer class="footer">
        <div class="containner">
            <div class="row">
                <div class="footer-col">
                    <h4>О нас</h4>
                    <ul>
                        <li><a href="#id1">Хиты продаж</a></li>
                        <li><a href="#id2">Производители кормов</a></li>
                        <li><a href="#id3">Наши преимущества</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Услуги</h4>
                    <ul>
                        <li><a href="CarsFilt.html">Наши товары</a></li>
                        <li><a href="profitableOffer.html">Предложение</a></li>
                        <li><a href="garant.html">Гарантия</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Контактная информация</h4>
                    <ul>
                        <li><a href="#"><p>Телефон: <strong>+7 977 111-0133</strong></p></a></li>
                        <li><a href="#"><strong><a href="mailto:info@example.com">ZooImperiya@gmail.com</a></strong></a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Социальные сети</h4>
                    <div class="social-links">
                        <a href="https://ru-ru.facebook.com/BMW/" target="_blank"><i class="fab fa-facebook-f"></i></a>
                        <a href="https://www.twitter.com/elonmusk"><i class="fab fa-twitter"></i></a>
                        <a href="https://www.instagram.com/stifazno"><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div id="name">
            Мамадрахимзода М.О - ИКБО-30-22
        </div>


    </footer>
</div>